/* Info Box Styling*/
.info-box-home {
    background-color: #F2F1E5;
    border: solid 2px black;
    padding: 20px;
    height: 450px;
    overflow-y: scroll;
}

.info-box-img {
    height: 250px;
    overflow: hidden;
    margin-bottom: 15px;
}

.info-box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 1px black;
}

/* Event Box Styling*/
.light-blue-box {
    background-color: #C1EBE2;
    border: solid 2px black;
    height: 250px;
    margin: 10px;
    padding: 20px;
}

.light-blue-box h2 {
    text-align: left;
    background-color: #C1EBE2;
    position: sticky;
    top: 0;
    z-index: 10;
}

.light-blue-box p {
    text-align: left;
}

.event-text {
    height: 100%;
    overflow-y: auto;
}

.event-img {
    height: 200px;
    width: 85%;
    overflow: hidden;
}

.event-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 1px black;
}

/* Support Info Box Styling*/
.info-box-img2 {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 15px;
}

.info-box-img2 img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.media-img {
    margin: 15px auto 0 auto;
    height: 150px;
    width: 100%;
}

.media-img img {
    height: 100%;
    width: 100%;
    border: solid 1px black;
}

.reviews {
    margin-top: 20px;
    max-height: 500px;
    width: 100%;
    overflow-x: scroll;
}